.footer{
    background-color: rgb(0, 32, 87);
    padding: 20px 0px;
    text-align: center;
}
.desc p{
    color: gainsboro;
}

.footer_logo{
    text-align: center;
 }
 .footer ul{
    padding: 0;
 }